
body {
    font-family:'Roboto',sans-serif;
    text-rendering:optimizeLegibility;
    overflow-x:hidden
}
.logo a, .post-list li p,.section-header,.secondary-header,.about-title,.skill-lists li h3,.team-member-name,.member-name,.service-intro h4, .contact-form h3,.contact-address h3,.skill-bar-percent,.numeric-factor,.numeric-factor-header,.inner-page-title,.post h3 a,.post blockquote,.comments-title,.comments-header h3,.comment-author,.comments-count,.comments-header,.reply-header,.sidebar h3,.da-thumbs .mega-list article h3,.text-slider li,.banner-tag-lines li,.secondary-section-h h3,.pricing-head .p-value,.pricing-head .p-title {
    font-family: 'Montserrat', sans-serif;
}
a,a:hover,a:focus,a:active {
    color:#fa6862;
    outline:0;
    text-decoration:none;
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s
}
.blog ol{
  list-style: decimal inside;
   padding-left:20px;
}

.blog ul{
   list-style: disc inside;
  padding-left:20px;
}


a:visited {
    color:inherit
}

#top-bar {
    width:100%;
    min-height:110px;
    background:#fff;
    position:fixed;
    top:0px;
    z-index:2000;
    -webkit-box-shadow:0 4px 15px rgba(0,0,0,0.07);
    box-shadow:0 4px 15px rgba(0,0,0,0.07);
}
.logo{
   height:80px;
   display:block;
}
.logo a{
    height:80px;
    display:block;
    line-height:80px;
    font-size: 24px;
    font-weight: 400;
}
.logo a span{ display: inline-block; position: relative; top: 3px; color: #E65A50;}
.logo a:hover,.logo a:focus{ text-decoration: none;}

.navigation {
    position:relative;
    margin-top:0px;
}
.top-menu {
    margin:0px;
    text-align:right;
    min-height:45px;
    padding:0px;
    display:inline-block;
}
.top-menu>li {
    list-style:none;
    display:inline-block;
}
.top-menu>li>a {
    color:#111;
    display:inline-block;
    line-height:110px;
    font-weight:700;
    font-size:14px;
    letter-spacing:.05em;
    padding:0px 8px;
    text-transform:uppercase;
}
.top-menu>li>a:hover {
    text-decoration:none;
    color:#e75e50;
}

.top-menu>li>a:focus {
    text-decoration:none;
}
.top-menu li.selected a {
    background:#000;
    color:#fff;
}


/*blog*/

/*Blog Details*/
.blog-header {
    background:#3bd1e1 url('../img/blog_banner.jpg') no-repeat bottom;
    background-size: cover;
}
.feature-header {
    background:#3bd1e1 url('../img/feature_banner.jpg') no-repeat bottom;
    background-size: cover;
}
.inner-page-header {
    min-height:125px;
    width:100%;
    padding: 50px 0px;
}
.inner-page-title {
    color:#fff;
    text-transform:uppercase;
    font-weight:600;
    font-size: 48px;
    margin:0px;
    padding:0px;
    text-align: center;
}

.panel {
    border:none;
    box-shadow:none;
    border-radius:0;
    -webkit-border-radius:0;
}
.blog-body {
    background:#f1f1f1;
    margin-top:0px;
}


.blog-body #top-bar {
    position:relative;
}

.blog-section {
    padding:80px 0
}
.blog h1 {
    font-size:18px;
    text-transform:uppercase;
    color:#424242;
    font-weight:400;
    margin:0 0 10px 0;
    line-height:30px
}
.blog h1 a {
    color:#424242
}
.blog h1 a:hover,.blog h1 a:focus,.auth-row a:hover,.auth-row a:hover {
    color:#fa6862
}
.blog .auth-row {
    color:#c8c8c8;
    font-weight:300;
    padding-bottom:20px;
    font-size:14px
}
.auth-row a {
    color:#c8c8c8
}
.blog .blog-img-wide img {
    width:100%;
    padding-bottom:25px;
    height:auto
}
.blog-img-sm img {
    width:100%;
    padding-bottom:0
}
.blog p {
    padding-bottom:15px;
    font-size:14px;
    line-height:25px
}
.blog a.more {
    margin-bottom:10px;
    display:inline-block
}
.blog .fa-quote-left {
    font-size:20px;
    padding:40px 0;
    color:#d3d3d3
}
.blog-search,.blog-search:focus {
    width:83% !important;
    float:left;
    margin-right:10px;
    background:#f1f1f1 !important;
    border:none!important;
    height:35px;
    box-shadow:none;
    padding-left:10px!important
}
.btn-search {
    background:#fa6862;
    color:#fff;
    box-shadow:none
}
.btn-search:hover,.btn-search:focus {
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s;
    background-color:#424242;
    color:#fff;
    box-shadow:none
}
.blog-post li {
    list-style-type:none;
    margin-bottom:10px
}
.blog-post li a {
    color:#837f7e
}

.blog-post h3 {
    font-size:16px;
    text-transform:uppercase;
    color:#424242;
    font-weight:bold;
    letter-spacing:2px;
    margin-top:0;
    margin-bottom:20px
}
.blog-post h5 a {
    color:#424242;
    text-transform:uppercase;
    font-weight:bold
}
.blog-post h5 a:hover,.blog-post h5 a:focus,.blog-post ul li a:hover,.blog-post ul li a:focus,.blog-post li a:hover,.blog-post li a:focus {
    color:#fa6862
}
.blog-post p {
    padding-bottom:0;
    color:#837f7e
}
.blog-post ul {
    padding-left:0;
    margin-bottom:0
}
.blog-post ul li {
    line-height:35px;
    color:#837f7e;
    list-style:none;
}
.blog-post ul li a {
    line-height:35px;
    color:#837f7e
}
.blog-post ul li i {
    padding-right:10px
}
.carousel-indicators li {
    background:rgba(255,255,255,0.5);
    border:0
}
.carousel-indicators {
    margin-bottom:20px
}
.single-blog {
    width:970px;
    margin:0 auto
}
blockquote {
    margin-left:50px;
    color:#a1a1a1;
    font-style:italic
}
blockquote p {
    line-height:30px;
    padding-bottom:0!important
}
.blog-tags {
    border-top:1px solid #f1f1f1;
    margin:30px 0 0 0;
    padding-top:30px;
    display:inline-block;
    width:100%
}
.blog-tags a {
    background:#f1f1f1;
    color:#808086;
    padding:5px 10px;
    margin-left:8px;
    border-radius:3px;
    -webkit-border-radius:3px
}
.media.blog-cmnt {
    margin-bottom:35px
}
.comment-reply-title {
    text-align:center;
    text-transform:uppercase;
    font-size:24px;
    color:#424242
}
.comment-notes,.logged-in-as {
    text-align:center;
    color:#adadad
}
h1.section-heading {
    margin:0;
    margin-top:-10px;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    padding:10px 30px;
    border-radius:4px;
    text-align:center;
    display:inline-block
}
h2.section-subheading {
    font-size:16px;
    font-weight:400;
    padding:0 20px;
    border-radius:4px;
    color:#fff;
    letter-spacing:1;
    text-align: center;
}
h2.section-subheading.about {
    margin:0;
    height:70px;
    margin-top:5px;
    line-height:70px;
    font-size:16px;
    font-weight:400;
    background-color:#5c5c5c;
    padding:0 20px;
    width:550px;
    border-radius:4px;
    color:#fff;
    letter-spacing:1
}
.section-title {
    text-align:center
}
.section-title h1 {
    margin:auto;
    text-transform:uppercase
}
.section-subheading-nobg {
    margin-top:25px;
    font-size:18px;
    text-align:center;
    text-transform:uppercase;
    font-weight:400;
    margin-bottom:80px;
    letter-spacing:1
}
.footer {
    background:#424242;
    padding:40px 0;
    color:#c2c3c3
}
.footer p {
    color:#c2c3c3;
    font-size:14px;
    font-weight:300;
    padding-top:20px
}
.f-address {
    margin-top:20px;
    display:inline-block
}
.f-address span {
    width:70px;
    display:inline-block
}
.f-address p {
    padding:0
}
.f-address a,.copyright a {
    color:#c2c3c3
}


#footer {
    background:#333;
    color:#fff;
}
.footer-content {
    margin:40px 0px;
}
.footer-right {
    text-align:right;
}
.social-link {
    padding:20px 0px 0px 0px;
}
.social-link li {
    list-style:none;
    display:inline-block;
    font-size:20px;
    margin-left:0px;
    float:left;
    margin-right:15px;
}
.social-link li a {
    color:#fff;
}
.social-link li a:hover {
    color:#eee;
    text-decoration:none;
}
.address span {
    display:block;
}

.input-field {
    width:100%;
    min-height:45px;
    color:#666;
    padding:0px 10px;
    border:0px;
    border-radius:5px;
    -webkit-border-radius:5px;
}
.contact-form .input-field {
    margin-bottom:10px;
}
.input-name {
    padding-right:5px !important;
}
.input-email {
    padding-left:5px !important;
}
.input-message {
    width:100%;
    padding:10px 10px;
    border:0px;
    border-radius:5px;
    -webkit-border-radius:5px;

    color:#666;
    margin-bottom:10px;
}
.btn-send {
    background-color:#222;
    font-weight:600 !important;
    text-transform:uppercase;
    color:#fff;
    padding:12px 50px !important;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.btn-send:hover {
    background-color:#e65a50;
    color:#fff !important;
    -webkit-transition:all 0.2s ease;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.contact-form h3 {
    margin-bottom:20px;
}


.contact-header {
    color:#fff;
    margin-bottom:20px;
}
.contact-form-wrap {
    width:80%;
    border-top:#e65a4c 6px solid;
    background:#dfdfdf;
    min-height:370px;
    margin:137px auto;
}

.contact-form h3,.contact-address h3 {
    color:#e65a50;
    margin:0px 0px 10px 0px;
    text-transform:uppercase;
    font-size:20px;
}
.contact-address,.contact-form{
    margin-bottom: 80px;
    padding-top: 80px;
}
.contact-address p {
    margin-bottom:20px;
    line-height:22px;
}
.contact-address span {
    margin-bottom:20px;
    display:block;
}

.newsletter-signup {
    margin:40px auto;
    width:80%;
}
.newsletter-signup .input-filed {
    width:65%;
}
.newsletter-signup .input-btn {
    width:30%;
}
.newsletter-signup .email-input {
    width:100%;
    min-height:54px;
    padding:0px 10px;
    border:0px;
    border-radius:5px;
    -webkit-border-radius:5px;
}
.newsletter-signup .btn-subscribe {
    min-height:54px;
    background:#88b6ac;
    width:100%;
    line-height:40px;
}
.newsletter-signup ul {
    margin:0px;
    padding:0px;
    list-style:none;
}
.newsletter-signup h4 {
    margin-bottom:20px;
}
.contact-form-action {
    text-align:right;
}
.copyright {
    border-top:rgba(255,255,255,.1) 1px solid;
    width:100%;
    margin:auto;
    line-height:50px;
}


.copyright {
    background:#363636;
    color:#c2c3c3;
    font-size:12px
}

.twitter-feed {
    background:#3a3a3a;
    padding:30px;
    border-radius:5px;
    -webkit-border-radius:5px;
    position:relative;
    top:40px
}
.twitter-feed img.twt-avatar {
    width:65px;
    height:65px;
    border-radius:50%;
    -webkit-border-radius:50%;
    border:5px solid #424242;
    margin-top:-63px
}
.twitter-feed a {
    color:#fa6862
}
.twitter-feed span {
    color:#7d7d7d
}
.twt-icon {
    float:right;
    margin-top:48px
}
.bold {
    font-weight:bold
}
.twt-txt {
    padding:0!important;
    margin:0;
    line-height:25px;
    color:#fff!important
}


.sprite-dribbble {
    background-position:0 0;
    width:69px;
    height:68px;
    right:9%;
    top:170px
}
.sprite-facebook {
    background-position:0 -118px;
    width:69px;
    height:68px;
    right:15%;
    top:-80px
}
.sprite-flickr {
    background-position:0 -236px;
    width:69px;
    height:68px;
    right:20%;
    top:260px
}
.sprite-github {
    background-position:0 -354px;
    width:69px;
    height:68px;
    left:20%;
    top:250px
}
.sprite-google-plus {
    background-position:0 -472px;
    width:69px;
    height:68px;
    right:16%;
    top:80px
}
.sprite-instagram {
    background-position:0 -590px;
    width:69px;
    height:68px;
    left:20%;
    top:-80px
}
.sprite-linkedin {
    background-position:0 -708px;
    width:69px;
    height:68px;
    right:7%;
    top:30px
}
.sprite-mail {
    background-position:0 -826px;
    width:69px;
    height:68px;
    left:47%;
    top:-108px
}
.sprite-printerest {
    background-position:0 -944px;
    width:69px;
    height:68px;
    left:5%;
    top:170px
}
.sprite-twitter {
    background-position:0 -1062px;
    width:69px;
    height:68px;
    left:13%;
    top:30px
}
.sprite-youtube {
    background-position:0 -1180px;
    width:69px;
    height:68px;
    left:5%;
    top:-100px
}
#slides {
    min-height:300px
}
.portfolio-filter {
    text-align:center
}
.portfolio-filter ul li {
    list-style:none;
    display:inline-block
}
.portfolio-filter ul>li+li:before {
    color:#2c3e50;
    content:"/";
    padding:0 5px;
    font-size:14px;
    font-weight:300
}
.portfolio-filter ul li a {
    font-weight:400;
    color:#2c3e50;
    letter-spacing:.05em;
    text-transform:uppercase;
    font-size:14px
}
@-webkit-keyframes throb {
    0% {
        -webkit-transform:scale(1)
    }
    50% {
        -webkit-transform:scale(0.8)
    }
    100% {
        -webkit-transform:scale(1)
    }
}
@keyframes throb {
    0% {
        transform:scale(1)
    }
    50% {
        transform:scale(0.8)
    }
    100% {
        transform:scale(1)
    }
}
#testimonial-carousel {
    width:75%;
    margin:auto
}
#testimonial-carousel .owl-pagination {
    display:inline-block;
    background-color:#fff;
    border-radius:4px;
    margin-top:20px;
    box-shadow:1px 1px 10px rgba(000,000,000,.05);
    text-align:center;
    padding:15px 15px 10px 15px
}
#testimonial-carousel .owl-pagination .owl-page {
    padding:0 5px
}
#testimonial-carousel .owl-controls .owl-page span {
    display:none!important
}
#testimonial-carousel .owl-controls {
    position:relative
}
#testimonial-carousel .owl-controls .item-link {
    position:relative;
    display:block;
    width:45px;
    height:45px;
    margin:0 2px;
    outline:0;
    border-radius:100%;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    opacity:.3;
    background-size:cover!important;
    background-position:0 0!important
}
#testimonial-carousel .owl-controls .active .item-link {
    opacity:1
}
#testimonial-carousel .owl-controls a:hover {
    opacity:1
}
#testimonial-carousel .owl-controls .owl-page span {
    display:none
}
#testimonial-carousel .prev-owl,#testimonial-carousel .next-owl {
    position:absolute;
    top:5px;
    display:block;
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:#c0c0c0;
    outline:0
}
#testimonial-carousel .prev-owl:focus,#testimonial-carousel .next-owl:focus {
    -webkit-box-shadow:0 0 8px #cc4895;
    -moz-box-shadow:0 0 8px #cc4895;
    box-shadow:0 0 8px #cc4895
}
#testimonial-carousel .prev-owl {
    left:24px
}
#testimonial-carousel .next-owl {
    right:24px
}
.grid-block {
    background:#f4f4f4;
    border:#eee 1px solid;
    margin-bottom:20px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding:10px;
    text-align:center;
    text-transform:uppercase;
    color:#aaa
}
.tag-social ul {
    background:#f1f1f1;
    height:35px;
    padding-left:0;
    margin-top:-5px;
    border-radius:3px;
    position:relative;
    padding:0 10px
}
.tag-social ul:after {
    left:100%;
    top:50%;
    border:solid transparent;
    content:" ";
    height:0;
    width:0;
    position:absolute;
    pointer-events:none;
    border-color:rgba(241,241,241,0);
    border-left-color:#f1f1f1;
    border-width:5px;
    margin-top:-5px
}
.tag-social ul li {
    float:left;
    list-style:none;
}
.tag-social ul li a {
    display:inline-block;
    margin-left:0
}
.tag-social ul li a:hover,.blog-cmnt .media-heading a:hover,.blog-tags a:hover {
    color:#fa6862
}
.blog-tags a.btn-share {
    background:#fa6862;
    margin-top:-10px;
    padding:10px;
    color:#fff;
    text-transform:uppercase
}
ol.comment-list {
    list-style:none;
    padding-left:0
}
.blog .panel-body {
    padding:30px
}
.blog-cmnt.media>.pull-left {
    margin-right:30px
}
.blog-cmnt .media-heading,.blog-cmnt .media-heading a {
    color:#414147;
    font-size:14px;
    text-transform:uppercase
}
.blog-cmnt .media-object {
    width:105px;
    height:102px;
    border-radius:3px;
    -webkit-border-radius:3px
}
.blog-cmnt .media-object-child {
    width:76px;
    height:72px;
    border-radius:3px;
    -webkit-border-radius:3px
}
.blog .blog-cmnt p {
    font-size:15px;
    line-height:25px;
    padding-top:5px
}
.mp-less {
    margin-bottom:0!important;
    padding-bottom:0!important
}
.blog-cmnt .media-body span {
    color:#808086;
    padding-bottom:20px;
    display:inline-block
}
.bl-status {
    float:left;
    width:100%
}
.bl-status .reply {
    background:#f1f1f1;
    color:#808086;
    padding:5px 10px;
    border-radius:4px;
    -webkit-border-radius:4px;
    margin-top:-5px
}
.bl-status .reply:hover {
    background:#fa6862;
    color:#fff;
    text-decoration:none
}
.media,.media .media {
    margin-top:35px
}
.cmnt-head {
    font-size:24px!important
}
.fade-txt {
    color:#adadad;
    font-size:14px
}
.leave-cmnt {
    width:70%;
    margin:20px auto
}
.leave-cmnt input,.comment-form input,.comment-form textarea,.comment-form input:focus,.comment-form textarea:focus,.leave-cmnt textarea,.leave-cmnt input:focus,.leave-cmnt textarea:focus {
    background:#f2f2f2;
    border:0;
    box-shadow:none;
    outline:0
}
.comment-form input,.comment-form textarea {
    padding:10px;
    width:80%;
    outline:0
}
.form-submit {
    margin-bottom:30px;
    display:inline-block
}
.form-submit input#submit {
    background:#fa6862;
    color:#fff;
    width:150px;
    height:40px;
    text-shadow:none;
    text-transform:uppercase;
    margin-left:122px;
    float:left
}
.form-submit input#submit:hover {
    background:#414147;
    box-shadow:none
}
.comment-form label {
    width:120px;
    color:#adadad;
    font-weight:normal
}
.btn-post-cmnt {
    background:#fa6862;
    color:#fff;
    text-transform:uppercase;
    font-size:12px;
    padding:12px 25px
}
.btn-post-cmnt:hover {
    background:#414147;
    color:#fff
}
.blog .pagination>li>a {
    margin:0 3px;
    
}
.blog .pagination>li>a,.blog .pagination>li>span {
    background:0;
    border:1px solid #dadada;
    color:#424242;
    border-radius:0
}
.blog .pagination>li.active>a,.blog .pagination>li>a:hover,.blog .pagination>li.active>a:hover {
    background:#fff;
    color:#fa6862;
    border-color:#dadada
}
.post-content {
    padding:20px
}
.post-content img {
    width:100%;
    margin-bottom:20px
}
.image-post img {
    margin-bottom:0
}
.blog-container {
    margin-left:20px;
    overflow:visible!important
}
.blog-container .item {
    height:auto;
    background-color:#fff;
    margin-bottom:20px;
    box-shadow:0 0 5px rgba(000,000,000,.1);
    -webkit-box-shadow:0 0 5px rgba(000,000,000,.1);
    -moz-box-shadow:0 0 5px rgba(000,000,000,.1)
}
.post-content h4 {
    margin-top:0;
    margin-bottom:5px
}
.post-content h4 a {
    font-size:20px
}
.post-content a {
    color:#444
}
.post-content p {
    line-height:2em
}
.post-content p a {
    color:#888
}
.post-content p a:hover,.post-content p a:focus {
    color:#444
}
.post-meta {
    color:#aaa;
    margin-bottom:25px;
    font-size:13px
}
.post-meta a {
    color:#aaa
}
.post-content a:hover,.post-content a:focus {
    text-decoration:none;
    color:#fa6862
}
.post-action {
    padding-top:15px
}
.post-action a {
    padding-right:10px;
    color:#aaa
}
.quote-post {
    text-align:center;
    background-color:#f4c946;
    color:#fff;
    padding:20px 10px
}
.quote-post a {
    color:#fff
}
.quote-post a:hover,.quote-post a:focus {
    color:#fff;
    text-decoration:none
}
.post-content blockquote {
    margin:0;
    border:0;
    color:#fff;
    font-style:normal
}
.post-content blockquote p {
    line-height:1.3em;
    color:#fff;
    font-size:16px
}
.btn-load {
    text-align:center
}
.btn-view-all {
    background-color:#fa6862;
    padding:15px 20px 10px 20px;
    color:#fff!important;
    text-transform:uppercase;
    margin-top:20px
}
.btn-view-all:hover {
    background-color:#5c5c5c;
    color:#fff
}
.q-icon {
    position:relative;
    top:-10px
}
.q-poster {
    font-family:"Times New Roman",'Roboto',sans-serif;
    font-style:italic;
    font-size:20px
}
.blog-container .item-w2 {
    width:40%
}
.blog-container .item-h2 {
    height:322px;
    background:#7cb744
}
.blog-container .item-h3 {
    height:485px;
    background:#38b5e5
}
.isotope .isotope-item {
    -webkit-transition-duration:.8s;
    -moz-transition-duration:.8s;
    transition-duration:.8s;
    -webkit-transition-property:-webkit-transform,opacity;
    -moz-transition-property:-moz-transform,opacity;
    transition-property:transform,opacity
}
.mega-hover a {
    height:100%;
    width:100%;
    display:table;
    position:absolute;
    top:0;
    left:0
}
.mega-hover a i {
    height:100%;
    width:100%;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    font-size:30px
}
.mega-hover a:hover,.mega-hover a:focus {
    text-decoration:none
}
.top-scroll-bar {
    width:100%;
    position:absolute;
    text-align:center;
    bottom:50px;
    z-index:1001
}
.scroll-down {
    width:60px;
    height:60px;
    display:inline-block;
    position:relative;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border-radius:100%;
    border:rgba(255,255,255,.3) 2px solid;
    background:rgba(255,255,255,.1)
}
.scroll-down:hover {
    background:rgba(255,255,255,.0);
    border:rgba(255,255,255,.8) 2px solid;
    color:rgba(255,255,255,.8)
}
.scroll-down i {
    width:56px;
    height:56px;
    line-height:56px;
    text-align:center;
    font-size:24px;
    color:rgba(255,255,255,.6)
}
#scrollUp {
    width:40px;
    height:40px;
    background:#444;
    text-align:center;
    position:fixed;
    bottom:0;
    right:10px;
    cursor:pointer;
    display:none;
    color:#333
}
#scrollUp i {
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    font-size:24px;
    color:#fff
}
.post-img a {
    position:relative
}
@media(max-width:1024px) {
    .skill,.skillnews {
        margin-bottom:15px
    }
    .container {
        width:100%!important
    }
    .navigation ul li a {
        padding:5px 10px;
        width:100%
    }
    .custombtn {
        margin-bottom:50px
    }
    .about-img {
        margin-top:15px
    }
}
@media(min-width:768px) and (max-width:980px) {
    .container {
        width:100%
    }
    .custombtn,.counter {
        margin-bottom:20px
    }
    .skill,.skillnews {
        margin-bottom:15px
    }
    .skillnews {
        margin-top:20px
    }
    .nav.navbar-nav.pull-right {
        width:80%
    }
    .navigation ul {
        margin:10px 0 0
    }
    .navigation ul li a {
        padding:10px;
        margin-bottom:5px;
        font-size:14px
    }
    .peoples {
        margin-bottom:20px
    }
}
@media(max-width:767px) {
    .navigation ul {
        margin:0;
        width:100%;
       
    }
    .navigation ul li.active a,.navigation ul li a:hover {
        border-radius:0
    }
    .navbar-toggle {
        background:#353535;
        color:#fff;
        margin-top:30px
    }
    .section-about {
        margin-top:197px
    }
    h1.section-heading {
        font-size:50px
    }
    .about-img img {
        width:100%;
        margin:0
    }
    h2.section-subheading {
        line-height:normal;
        height:auto;
        padding:10px
    }
    h2.section-subheading.about {
        width:100%;
        line-height:25px;
        padding:10px
    }
    .skillnews {
        margin-top:20px
    }
    .custombtn,.counter {
        margin-bottom:20px;
        display:inline-block
    }
    .skill,.skillnews {
        margin-bottom:15px
    }
    .timeline-marker .label {
        font-size:12px
    }
    .section-counter {
        height:auto;
        padding-bottom:60px
    }
    .vc {
        text-align:center
    }
    .fr,.fl {
        float:none
    }
    .education .details,.education .year {
        width:100%;
        margin-bottom:10px
    }
    .reddot {
        position:absolute;
        top:-65px;
        left:50%
    }
    .timeline-marker .timeline-date {
        padding:22px 10px;
        font-size:12px
    }
    .section-subheading-nobg {
        margin-bottom:60px
    }
    .peoples {
        margin-bottom:20px
    }
    .draggable-monitor,.drag-arrow {
        background:0
    }
    .social-link,.drag-arrow {
        position:static!important
    }
    .draggable-monitor {
        margin:20px 0
    }
    .drag-arrow {
        height:0
    }
}
@media(max-width:479px) {
    .navigation ul {
        margin:0;
        width:100%;
       
    }
    .navigation ul li.active a,.navigation ul li a:hover {
        border-radius:0
    }
    .navbar-toggle {
        background:#353535;
        color:#fff;
        margin-top:30px
    }
    .home-text h1 {
        font-size:40px
    }
    .home-text img {
        margin-top:-5px
    }
    h1.section-heading {
        font-size:35px
    }
    .section-about {
        margin-top:197px
    }
    .about-img img {
        width:100%;
        margin:0
    }
    h2.section-subheading {
        line-height:normal;
        height:auto;
        padding:10px
    }
    h2.section-subheading.about {
        width:100%;
        line-height:25px;
        padding:10px
    }
    .custombtn,.counter {
        margin-bottom:20px;
        display:inline-block
    }
    .skill,.skillnews {
        margin-bottom:15px
    }
    .timeline-marker .label {
        font-size:12px
    }
    .section-counter {
        height:auto;
        padding-bottom:60px
    }
    .vc {
        text-align:center
    }
    .fr,.fl {
        float:none
    }
    .education .details,.education .year {
        width:100%;
        margin-bottom:10px
    }
    .reddot {
        position:absolute;
        top:-65px;
        left:50%
    }
    .timeline-marker .timeline-date {
        padding:12px;
        font-size:12px
    }
    .section-about .content,.content {
        padding:0 10px
    }
    .peoples {
        margin-bottom:20px
    }
    .tags ul li {
        width:99%;
        line-height:22px;
        float:left;
        margin-bottom:5px
    }
}
.footer-w-head {
    font-size:18px;
    margin-bottom:10px;
    margin-left:5px;
    margin-right:5px;
    padding-bottom:5px;
    border-bottom:#838383 1px solid;
    position:relative;
    color:#fff
}
.footer-w-head:after {
    width:60px;
    height:0;
    content:"";
    position:absolute;
    left:0;
    bottom:-1px;
    border-bottom:#fff 1px solid
}
.flickr-feed,.awards-list {
    list-style:none;
    margin:0;
    padding:0
}
.flickr-feed li {
    width:60px;
    height:60px;
    display:inline-block;
    margin:5px
}
.flickr-feed li a img {
    width:100%;
    height:100%
}
.flickr-feed li a:hover {
    filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter:gray;
    -webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
    -webkit-transition:all .3s;
    -moz-transition:all .3s;
    transition:all .3s
}
.awards-list li {
    line-height:normal;
    margin-bottom:10px
}
.awards-list li .award-thumb {
    width:60px;
    height:60px;
    display:inline-block;
    margin:0 10px 0 5px;
    float:left
}
.awards-list li .award-thumb img {
    width:100%;
    height:100%
}
.awards-list li .award-title {
    display:block
}
.awards-list li .award-title a {
    display:block;
    font-size:16px;
    margin-bottom:5px;
    margin-top:4px
}
.awards-list li p {
    padding:0;
    color:#9b9b9b
}
.award-date {
    display:block;
    margin-top:3px;
    font-size:12px
}
.blog-body.customize-support #top-bar {
    top: 0px
}
.widget ul li{
 white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}